/* Custom CSS Created by AMP Think for parent theme */
/* .additional-menu .menu_item .display-title {
    font-size: 60px;
    line-height: 60px;
}

.additional-menu .menu_item .description_container p {
    font-size: 30px;
    line-height: 36px;
} */
