/*#AA9129;*/
html {
  top: 0 !important;
  margin: 0 !important; }

h2 {
  margin: 0; }

.background_image-menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #76101C;
  background-size: cover;
  background-position: center; }

#menu-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0; }

#primary-inventory-item * {
  color: white; }

.emphasized {
  color: #e6c53c !important;
  font-family: cursive;
  font-size: 4em;
  line-height: .2;
  vertical-align: middle; }

.left-right-split-template {
  position: relative;
  width: 100%; }
  .left-right-split-template .left {
    float: left;
    display: block; }
  .left-right-split-template .right {
    float: right;
    display: block; }
  .left-right-split-template .half {
    width: 50%;
    height: 100%; }

.four-col-horizontal-grid-white .menu-item-price {
  position: absolute;
  bottom: 0; }
  .four-col-horizontal-grid-white .menu-item-price:before {
    content: '';
    display: inline-block;
    float: left;
    width: 72%;
    height: 2px;
    background: #541617;
    margin-top: 24px;
    margin-right: 10px; }

#featured-menu-item {
  height: 100%;
  width: 100%;
  display: block; }
  #featured-menu-item:after {
    display: block;
    clear: both;
    content: ''; }
  #featured-menu-item * {
    color: white; }
  #featured-menu-item #featured-item-text {
    min-height: 600px;
    font-size: 45px;
    text-align: right;
    text-transform: uppercase; }
    #featured-menu-item #featured-item-text .intro-text {
      z-index: 20;
      position: relative;
      font-size: 30px; }
    #featured-menu-item #featured-item-text .menu-item-title {
      z-index: 10;
      position: relative; }
      #featured-menu-item #featured-item-text .menu-item-title h2 {
        line-height: .8; }
    #featured-menu-item #featured-item-text .menu-item-price {
      font-weight: bold; }

#menu-list, .menu-list {
  padding: 20px 40px; }
  #menu-list ul.list-of-menu-items, .menu-list ul.list-of-menu-items {
    margin: 0;
    list-style: none; }
    #menu-list ul.list-of-menu-items li.menu-item, .menu-list ul.list-of-menu-items li.menu-item {
      color: #76101C;
      font-size: 40px; }
      #menu-list ul.list-of-menu-items li.menu-item:after, .menu-list ul.list-of-menu-items li.menu-item:after {
        clear: both;
        display: block;
        content: ''; }
      #menu-list ul.list-of-menu-items li.menu-item .menu-item-title, .menu-list ul.list-of-menu-items li.menu-item .menu-item-title {
        float: left; }
      #menu-list ul.list-of-menu-items li.menu-item .menu-item-price, .menu-list ul.list-of-menu-items li.menu-item .menu-item-price {
        float: right; }

.menu-item-description {
  font-size: .6em;
  clear: both;
  display: block; }

.additional-menu-item.col {
  text-align: right; }

.menu-item-image {
  text-align: center; }

.four-col-horizontal-grid-white h3 {
  float: none !important; }

.hide-prices span.price-sign {
  display: none; }

/*# sourceMappingURL=menuboards.css.map */
