@font-face {
  font-family: 'DIN-Bold-Condensed';
  src: url('D-DINCondensed-Bold.eot');
  src: url('D-DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('D-DINCondensed-Bold.svg#D-DINCondensed-Bold') format('svg'),
       url('D-DINCondensed-Bold.ttf') format('truetype'),
       url('D-DINCondensed-Bold.woff') format('woff'),
       url('D-DINCondensed-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
