
/* New Custom */

span.price-sign {
    display: none;
}
.show-price span.price-sign {
    display: initial;
}
.five-item-feature-left-menu .combo-subtitle .combo-title {
  padding-right: 160px !important;
  margin-bottom: 10px !important;
}
.five-item-feature-left-menu  .combo-subtitle {
    line-height: 60px !important;
    margin-top: -10px !important;
}
.show-price h1.combo-title {
    font-size: 94px;
    line-height: 100px;
}
.five-item-feature-left-menu .combo-info, #feature-left-combos-menu .featured-deal-infobox {
        background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(1,1,1,.7) 70%, rgba(1,1,1,.1) 100%);
    padding-bottom: 60px !important;
}

.five-item-feature-left-menu .price {
  right: -13px!important;
}



header .header-inner #game-info {
  width: auto !important;
}

header .header-inner #game-info #timer {
  width: 173px !important;
}

#game-info .left, #game-info .right {
  float:right;
}





.combo-info {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: initial !important;
}


.combo-info {
    position: absolute;
}

.carousel-item .price {
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 999; */
}


.home aside {
    display: none;
}

.not-found {
    padding: 40px;
}

.not-found header.page-header {
    position: relative;
}






/*customizer output*/
.carousel-item {
    height: 808px;
}
.carousel-item img {
    height: 100%;
    width:100%;
    object-fit: cover;
}
#thinVerticalSlider .carousel-item img {
	object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1.display-title {
    line-height: 1 !important;
}

h1.display-title .price {
    margin-top: -.05em;
}

.infobox-wrapper {
    overflow: hidden;
}

.featured-deal-infobox {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#feature-left-snacks-menu .left .featured-deal-infobox .featured_display_price, #feature-right-menu .right .featured-deal-infobox .featured_display_price {
	top:0;
}
#comboSlider span.price-num {
	font-size: 140px;
	line-height: 70px;
}



.ad img {
    width: 100%;
    height: 100%;
	max-height: 808px;
    object-fit: cover;
}


#feature-left-combos-menu.menu-board .featured-deal-infobox {
    position: absolute;
    top: 0;
}

#feature-left-combos-menu .left .featured-deal-infobox .featured_display_price {
    color: white !important;
    font-size: 130px;
}



/* #sliderTop .carousel-item img {
    height: 100%;
    width: 60%;
    object-fit: cover;
    margin-left: 40%;
}
 */


div#sliderTop {
    max-height: 540px;
    overflow: hidden;
}

#sliderTop img {
    max-height: 540px;
		width: 1480px !important;;
    margin: 0 0 0 auto;
}


#sliderTop div#sliderTop {
    max-height: 540px;
    overflow: hidden;
}

#sliderTop .info-wrapper {
    position:absolute;
	width: 100%;
	top:0;
	text-align: right;
}


.top .item-info {
    max-width: 580px;
    text-align: right;
    min-width: 580px;
    left: 48px !important;
    display: flex !important;
    justify-content: center;
}

.top .item-info .price, .top .item-info .display-title {
    position: relative;
    height: auto;
    margin-top: 32px !important;
    top: 220px;
    line-height: 22px;
}

.price-num {
	font-family: tungsten !important;
}




.image-wrapper {
    text-align: right;
	max-height: 320px;
	margin-top:0px;
}

.image-wrapper:after {
    content: '';
    display: block;
    background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(1,1,1,.95) 30%, rgba(1,1,1,.6) 40%, rgba(1,1,1,.2) 50%, rgba(1,1,1,.1) 100%), linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(1,1,1,.95) 30%, rgba(1,1,1,.6) 40%, rgba(1,1,1,.2) 50%, rgba(1,1,1,.1) 100%);
    width: 100%;
    height:  540px;
    position: absolute;
    top: 0;
}


.site-content h2, .site-content h3 {
	line-height: 1 !important;
}
.menu-item-price {
    line-height: 1.2 !important;
}



.five-item-feature-left-menu .combo-info, #feature-left-combos-menu .featured-deal-infobox {
    background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(1,1,1,.7) 70%, rgba(1,1,1,0) 100%);
    padding-bottom: 60px !important;
}


header .header-inner #player-container img {
    width: auto;
    object-fit: contain;
}

header .header-inner #player-container {
    width: fit-content;
}







.carousel  {
  span.price-sign, span.price-num, &#comboSlider .price-sign, &#comboSlider .price-num {
    font-size: 100px !important;
    line-height: 60px;
  }
  .featured_price, .featured_display_price {
    font-size: 100px !important;
    line-height: 100px;
  }

  .featured_display_sub_title p {
    // font-size: 37px;
    font-family: 'tungsten';
    letter-spacing: 1px;
  }
}

#carouselExampleIndicators .featured_price {
    padding-top: 10px;
}



/* dickies overwrite for resizing */
.dickies {
  #content {
    display: flex;
    flex-direction: column;

    .flex-container {
      flex: 1;

      .menu-list {
        font-size: 8vh;

        ul.list-of-menu-items {
          .description-subtitle {
            font-size: .75em !important;
            line-height: 1;
          }
        }
      }
    }
  }
}
