html {
  height: 100%;
}
html body#portable {
  height: 100%;
  width: 100%;

  * {
    font-family: 'Knockout-Liteweight' !important;
  }


  #menu-container {
      transform: none !important;
      background-position: bottom center !important;
      background-size: 100% 100% !important;
  }

  .menu-board-portable, #page {
      height: 100%;
      width: 100%;
  }

  .portable-menu-container {
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-height: 90%;


    .section-title {
      border-bottom: 1px solid rgba(255,255,255,.4);
      padding: 0 20px 20px;
      margin-bottom: 12px;

      color: white;

      .title {
        font-size: 2.3em;
        line-height: .7;
      }
      .subtitle {
        font-size: .7em;
        text-transform: initial;
        font-family: 'Knockout-Featherweight' !important;
      }
    }

    .menu-list{
      padding: 0;

      color: white;

      ul li.menu_item {
        font-size: 32px;

        .menu-item-info-wrapper {
          font-size: inherit;
          line-height: 1;
          align-items: initial !important;
          padding-top: 6px;
          color: inherit;

          h1.display-title, .price {
            font-size:  1em !important;
            text-transform: initial;
            font-family: inherit;
            font-weight: bold;
            color: inherit !important;
          }
          .price * {
            font-size: inherit !important;
          }
        }

        .description_container {
          p {
            font-size: .6em !important;
            text-align: left;
            text-transform: initial;
            font-family: 'Knockout-Featherweight' !important;
            font-weight: 300;
            color: inherit !important;
          }
        }
      }
    }
    .disclaimer {
      font-size: 2.17vw;
      text-align: center !important;
      width: 100%;
      padding:20px 0 5px;
      position:relative;

      font-family: 'Knockout-Featherweight' !important;
      text-transform: initial !important;
      color: white;
    }
  }

}
